[Unit]
Description=Plex IPTV Proxy EPG Generator
Requires=network.target
After=network.target

[Service]
Type=oneshot
User=plex-iptv-proxy
Group=plex-iptv-proxy
UMask=002
ExecStartPre=/usr/bin/npm --prefix /usr/lib/plex-iptv-proxy install
ExecStart=/usr/bin/node /usr/lib/plex-iptv-proxy/bin/generate-epg.js
WorkingDirectory=/usr/lib/plex-iptv-proxy
SyslogIdentifier=plex-iptv-proxy-epg-generator

[Install]
WantedBy=multi-user.target