[Unit]
Description=Plex IPTV Proxy FFProbe, meant to be run weekly (or monthly) by the corresponding timer, will test each channel (track) and store the test results to be used by the server
Requires=network.target
After=network.target

[Service]
Type=oneshot
User=plex-iptv-proxy
Group=plex-iptv-proxy
UMask=002
Environment=PATH=NPM_PATH:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
ExecStartPre=NPM_PATH/npm --prefix INSTALL_DIR install
ExecStart=NPM_PATH/npm --prefix INSTALL_DIR run ffprobe-store-results
ExecStartPost=NPM_PATH/npm --prefix INSTALL_DIR run generate-epg
WorkingDirectory=INSTALL_DIR
SyslogIdentifier=plex-iptv-proxy-ffprobe

[Install]
WantedBy=multi-user.target